@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
        url("fonts/Montserrat/Montserrat-Regular.ttf");
}
p, h2 {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: "Montserrat";
    color:#533738;
    background: #EFE6E4;
    width: 1400px;
}
.bg-first-page {
    background: url("./img/bg-1.jpg");
    height: 715px;
}
.header {
    padding-top: 36px;    
}
.wrapper-1200 {
    width: 1200px;
    margin: 0 auto;
}
.container {
    width: 1034px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color:#533738;
}
.logo {
    text-transform: uppercase;
}
.nav {
    display: inline-block;
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin-left: 60px;
}
.nav-item {
    display: inline-block;
    margin-left: 24px;
}
.phone-number {
    margin-left: 30px;
}
.first-page-title {
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    width: 534px;
    margin-top: 91px;
}
.first-page-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
}
.button {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-color: #CC8B86;
    text-align: center;
    padding: 25px 0;
    width: 309px;
}
.request-btn {
    margin-top: 21px;
}
.section-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}
.section-about {
    padding-top: 65px;
}
.about-title {
    margin: 0;
    padding: 0;
    text-align: center;
}
.section-about__main {
    margin-top: 40px;
    display: flex;
}
.section-about__text {
    margin-left: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 528px;
}
.scores {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    list-style-type: none;
    background-color: #8D7370;
    color: #FFFFFF;
    padding: 85px 180px 81px 180px;
}
.score-item {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
}
.score-item:not(:first-child) {
    margin-left: 269px;
}
.score-number {
    text-align: center;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
}
.section-gallery {
    padding: 65px 0 65px 0;
}
.gallery-portfolio {
    display: grid;
    gap: 30px 20px;
}
.gallery-card {
    height: 451px;  
}
.bedroom {
    background: url("./files/bedroom.jpg");
    width: 488px;
}
.kitchen {
    background: url("./files/kitchen.jpg");
    width: 692px;
}
.living-room {
    background: url("./files/living-room.jpg");
    width: 692px;    
}
.bathroom {
    background: url("./files/bathroom.jpg");
    width: 488px;    
}
.gallery-more-link {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    width: 294px;
    margin: 40px auto 0 auto;
}
.section-team {
    padding: 50px 0 35px 0;
    background: #E2C4BA;
}
.team-title {
    text-align: center;
}
.team-group {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.team-person {
    width: 320px;
}
.team-person__about {
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
}
.section-how-we-work {
    background: #E2C4BA;
    padding-bottom: 80px;
}
.how-we-work__list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.how-we-work__item {
    display: inline-block;
    text-align: center;
    width: 285px;
}
.item-number {
    display: block;
    width: 70px;
    height: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    color: #FFFFFF;
    background: #8D7370;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
.request {
    background-color: #8D7370;
    color: #FFFFFF;
}
